.nav{
    position:fixed;
    bottom:0px;
    width: 100%;
    background-color: #f9f9fa;
    padding:20px 50px;
    box-sizing:border-box;
    border-top:1px solid rgba(121, 121, 121, 0.3);

}
.nav__list{
       display:flex;
       justify-content: space-between;
       font-size:17px;
   }
.nav__link{
    position: relative;
    color:#2e363e;
}
a{
    color:inherit;
}

.nav__notification{
    background-color:tomato;
    color:white;
    font-weight:500;
    width:23px;
    height:23px;
    border-radius:11px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    position: absolute;
    left:14px;
    bottom:8px;
    font-size:14px;
}

.fa-circle{
    color:tomato;
    font-size:1px;
    text-decoration: none;
    position: absolute;
    left:19px;
    bottom:14px;
}